.advantages{
  min-height: 695px;
  padding: 60px;
  font-size: 23px;
  color: white;
  background: url('../media/advantages-bg.png') center center no-repeat;
  background-size: cover;
  ul {
    width: 710px;
    margin-top: -200px;
    margin-left: -20px;
    text-align: left;
  }
}

.advantages__top{
  width: 697px;
  margin: 0;
  text-align: left;
  font-size: 30px;
  span:nth-child(1){
    color: #FF7A00;
    font-weight: bold;
  }
  span:nth-child(2){
    color: #EFF322;
    font-weight: bold;
  }
}

.advantages__item{
  position: relative;
  margin: 20px;
  padding-left: 70px;
  &::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;    
    left: 0;
    border-radius: 50%;
    background: white;
  }
}

.advantages__img{
  margin-top: -140px;
  text-align: right;
}

@media(max-width: 1400px){
  .advantages {
    ul {
      width: 100%;      
      margin: 0 auto;      
    }
  }

  .advantages__img{    
    margin: 0 auto;
    text-align: center;

    img {
      width: 100%;
      max-width: 600px;
    }
  }

  .advantages__top{
    width: 50%;
    margin: 0 auto;    
  } 
  
  .advantages__item {
    padding-left: 40px;
    &::before{      
      width: 30px;
      height: 30px;
    }
  }
}

@media(max-width: 750px){
  .advantages {
    padding: 15px;
  }
  .advantages ul{
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px;
  }
  .advantages__top{
    width: 100%;
   
  }
  .advantages__item{
    margin: 5px 0;

    &::before{
      width: 15px;
      height: 15px;
      top: 5px;
    }
  }
}