footer{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  width: 100%;
  min-height: 50px;
  padding: 0 15px 60px 15px;
  font-size: 14px;
  background: black;
  color: white;
}

.footer__content{
  width: 100%;
  margin: 0 auto;
}

.footer__copyright{
  margin-top: 40px;
  a {
    
    color: white;

    &:hover{
      transform: scale(1.1)
    }
  }
  
}

.footer__list{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
}

.footer__item{
  &:hover{
    transform: scale(1.1);
  }
}

.footer__link{  
  svg{
    width: 30px;
    height: 30px;
    fill: white;    
  }  
}