body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Roboto';
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App__content {
  flex: 1 1 100%;
}



@import './navbar.scss';
@import './welcome.scss';
@import './say-hello.scss';
@import './info-mh-block.scss';
@import './advantages.scss';
@import './peronal-key-block.scss';
@import './time-block.scss';
@import './quote-block.scss';
@import './coach.scss';
@import './gallery.scss';
@import './offers.scss';
@import './show-more.scss';
@import './online.scss';

@import './footer.scss';
