$primaryColorHover: red;
$primaryColor: #FD6C21;
$activeBgColor:  #ECFA36;
$activeItemColor: #5A1CA9;

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
  background: $primaryColor;
}

.navbar__img{
  width: 70px;
  height: auto;

  &:hover{
    opacity: 0.7;
  }
  &:active{
    opacity: 0.6;
  }
}

.navbar__list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

.navbar__item{
  margin: 0px;  
  font-weight: bold;  

  &:hover:not(.navbar__item--active){    
    background: $primaryColorHover;
    
  } 

  a{
    display: block;
    padding: 30px 9px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.navbar__item--active{
  background: $activeBgColor;
  a{
    color: $activeItemColor;
  }
}

.navbar__close{
  display: none;
}

@media(max-width: 739px){
  .navbar{ 
    position: fixed;
    top: 0;
    left: 0;  
    flex-direction: column;    
    width: 100%;   
    overflow: scroll;
    height: 100%; 
    z-index:8;
  }
  .navbar__list{
    flex-direction: column;
    justify-content: initial;
    width: 100%;
    
  }
  .navbar--closed{
    height:auto;
  }
  .closed{
    display: none;    
  }
  .navbar__item{
    border-bottom: 1px solid white;
    a{
      padding:15px;
    }
  }
  .navbar__img{
    display: none;
  }
  .navbar__close{
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    background:rgba(0,0,0,0.5);
    z-index: 9;
  }  
  .navbar__close--close{
    &::before{
      position: absolute;
      content: "";
      top:50%;
      left: 10px;
      width: 40px;
      height: 5px;
      background: white;
      box-shadow: 0 13px white, 0 -13px white;      
    }
  }
  .navbar__close--open{    
    &::before{
      position: absolute;
      content: "";
      top:50%;
      left: 10px;
      width: 40px;
      height: 5px;
      background: white;
      transform: rotate(45deg);      
    }
    &::after{
      position: absolute;
      content: "";
      top:50%;
      left: 10px;
      width: 40px;
      height: 5px;
      background: white;
      transform: rotate(-45deg);      
    }
  }  
}