.helloBlock{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:100%;  
  height: 300px;
  font-size: 30px;
  background: lightgrey;  
  color: white;
  span{
    padding:5px;
    background-color:rgba(14, 14, 14, 0.322);
    border-radius: 5px;
  }

  &::before{
    content: "";    
    position: absolute;
    bottom: -40px;
    right: 20px;
    width: 430px;
    height: 260px;
    background: url('../media/rocket.png') center center no-repeat;
    
    @media(max-width: 1197px){
      bottom: -100px;
      background-size: 70% 70%;
      background-repeat: no-repeat;
    }
    @media(max-width: 473px){
      bottom: -70px;
      left: 0;
      width: 320px;
      height: 200px;
      background-size: 80% 80%;
    }    
  }
  &:hover::before{
    cursor: pointer;
  }  
}

.helloBlock--morning{  
  background: url('../media/morning.JPG') 100% 50% no-repeat;
  background-size: cover; 
}

.helloBlock--day{  
  background: url('../media/day.jpg') 100% 50% no-repeat;
  background-size: cover; 
}

.helloBlock--evening{
  background: url('../media/evening.JPG') 100% 50% no-repeat;
  background-size: cover; 
}

.helloBlock--night{
  background: url('../media/night.PNG') 100% 50% no-repeat;
  background-size: cover; 
}
